html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

.active {
  color: var(--color-accent);
}

.homepage {
  height: calc(100vh - 70px);
}

::-webkit-scrollbar {
  width: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-text);
}
